* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Tajawal', sans-serif;
  font-family: 'Young Serif', serif;
  font-family: 'Rubik', sans-serif;
}

/*======== low-opacity-bg-image ================================*/
.low-opacity-bg-image{
  background-color: black;
  background-image: url('/images/b1.png');
  background-size: cover;
 
  /*=====text======*/

  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  position: relative;
  isolation: isolate;
  z-index: -1;
}


.low-opacity-bg-image p {
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.low-opacity-bg-image h1{font-family: 'Young Serif', serif;}


  
.low-opacity-bg-image h1{font-weight:700; font-family: 'Young Serif', serif;}
.low-opacity-bg-image h1{font-size: 3rem;}
.low-opacity-bg-image h4{font-size: 25px;}
.low-opacity-bg-image h3{font-size: 30px;}



.low-opacity-bg-image::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgb(0, 0, 0);
  opacity: .5;
}






/*===section1start=====================================================*/


.section1{
  background-color: rgba(0, 0, 0, 0.3);


  display: grid;
  place-content: center right;
  text-align: right;
  padding: 0px 100px;
  min-height: 500px;
  position: relative;
}






/*===section1end=====================================================*/








/*===section2 start=====================================================*/
/* .title
{
color: white;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
} */

/* .title h2 
{
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: black;
  background-color: #0088a9;
  top: 50px;

} */



/* .title h3 :before
{
  content: '';
position: absolute;

bottom:-10px;
left:50%;
transform: translateX(-50%);
width: 40px;
height: 6px;
background: black;
background-color: #87c014;
} */

p{
direction: rtl;
color: black;
font-weight: 300;
text-align: justify;
}


.about .content
{
  
  position: relative;
  /* margin-bottom: 20px; */
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:70px;

}


.content .imgbx .cover
{
  place-content: center right;
padding: 100px 0px 0px 0px;
margin: 0px 20px 0px 0px;
  display: grid;
  max-width:600%;

padding-left: -80px;
  height: 300;
  width: 300px;
  /* background-color: #24252a; */

}



.list 
{
  position: relative;
  display: grid;
  margin-left: 25px;
  margin-left: 60px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 1.4em;

}


.content .contentbx h1 { direction: rtl;}
.content .contentbx ul { padding: 0px 20px; direction: rtl;}









.content .contentbx
{
  position: relative;
  display: grid;
  place-content: center right;
  text-align: right;
  margin-right: 0%;
  padding: 100px 30px;
  min-height: 500px;
}









.about .contentbx .list .btn1 
{
  width: 180px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 25px;
  margin-left: 20px;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  place-content: center right;
  position: relative;
  top: 20px;
}


.about .contentbx .list .btn1:hover
{
  position: relative;
  margin-bottom: 20px;
background-color: #f153ca;
transition: .3s ease;
}



/*===section3 end=====================================================*/

/*===section3start=====================================================*/

.section2
p{
  background-color: rgb(168, 124, 174);
  /* background-image: url('/images/pic-4.png'); */
  /* background-size: cover; */
 
  /*=====text======*/
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  position: relative;
  isolation: isolate;

}

imge {
  width: 100;
}





/*===section3end=====================================================*/








/*===section4start=====================================================*/

.section3
h2{
  background-color: black;
  /* background-image: url('/images/pic-4.png'); */
  /* background-size: cover; */
 
  /*=====text======*/
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  position: relative;
  isolation: isolate;
  z-index: -1;
}

imge {
  width: 100;
}





/*===section4end=====================================================*/




/*==================================================================================================================*/
/* head*/

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5%;
  background-color: rgb(0,0,0,0.7);
position: fixed;
backdrop-filter: blur(5px);
z-index: 1000;
}

img{
  width: 250px;
  padding: 5px 0px;
  float: left;
  transition: .3s ease;
}

.logo {
  margin-right: auto;
position: relative;
top: 0px;
}

.nav__links {
  list-style: none;
  display: flex;
  
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(0, 128, 255);
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgb(0, 128, 255);
  color: white;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  z-index: 2000;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }

}





